<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935663691295-jf6q3b3cd1nn0abnpgnq7uedmf3e5erv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935663691295-jf6q3b3cd1nn0abnpgnq7uedmf3e5erv</string>
	<key>API_KEY</key>
	<string>AIzaSyCu6niPQ3so00d70Xyf7Z1yGe4sAkm6UV0</string>
	<key>GCM_SENDER_ID</key>
	<string>935663691295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickmorris.whAPP-Study-Guide</string>
	<key>PROJECT_ID</key>
	<string>whapstudyguide</string>
	<key>STORAGE_BUCKET</key>
	<string>whapstudyguide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935663691295:ios:15b70043cbb583c6bfd72a</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3032616980524090~1620106145</string>
</dict>
</plist>